<h1>User Route</h1>
<ul>
  {{#each users}}
  {{#dataValues}}
  <li>
    <p>UUID: {{uuid}}</p>
    <p>Name: {{first_name}} {{last_name}}</p>
    <p>Email: {{email}}</p>
  </li>
  {{/dataValues}}
  {{/each}}
</ul>
